<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Numero Telefono</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button expand="block" (click)="sendVerificationEmail()">Verify Email</ion-button>
    <ion-button expand="block" (click)="logOut()">Sing Out</ion-button>
    <ion-button expand="block" (click)="deleteUser()">Delete User</ion-button>
  </ion-item>
</ion-content>
