<ion-header>
  <ion-toolbar class="encabezado">
    <img class="imagenParticularium"  src="assets/imgs/particularium.png">
  
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="contenedorBotones">
        <ion-button color="#003d99" class="buttonInicioLogin" routerLink='/login'>Login</ion-button>
      </ion-col>
     
     
    </ion-row>
    <ion-row>
      <!-- si excedes las doce columnas -->
      <ion-col size="12" class="contenedorBotones">
        <ion-button  color="#3b5999" class="buttonInicioSignUp" routerLink='/sign-up'>Sign Up</ion-button>
      </ion-col>       
    </ion-row>
  </ion-grid>
 
  <ion-footer class="footer">Copyright Oficial 2020 ©.</ion-footer>
</ion-content>




